#title{
  font-size: 30px;
}
#curfontsize{
  display: inline;
}
#autofill_exe{
	font-size: 25px;
}
#autofill_inp{
	font-size: 25px;
}

/*----------------------------CSS style for pure aesthetic purposes------------------------------------------------*/

/* https://cssbuttongenerator.com/ */

.modebutton {   
  font-size:17px;
  font-family:Arial;
  height:35px;
  border-width:2px;
  color:rgba(0, 0, 0, 1);
  border-color:rgba(0, 0, 0, 1);
  font-weight:bold;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
  background:#ffffff;
}

.menubutton {   
  font-size:17px;
  font-family:Arial;
  height:35px;
  border-width:2px;
  color:rgba(0, 0, 0, 1);
  border-color:rgba(0, 0, 0, 1);
  font-weight:bold;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
  background:#ffffff;
}

.menubutton:hover {
  background: #d3d3d3;
}    

.menubutton:disabled {
  background: #e7e7e7;
  color: #6e6e6e;
}    

.generic_button {
  font-size:15px;
  font-family:Arial;
  border-width:2px;
  color:rgba(0, 0, 0, 1);
  border-color:rgba(0, 0, 0, 1);
  font-weight:bold;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
  background:#ffffff;
}

.generic_button:hover {
  background: #d3d3d3;
}
 
.generic_button:disabled {
  background: #e7e7e7;
  color: #6e6e6e;
}    

/*----------------------------Fancy CSS styled checkbox(currently unused)------------------------------------------------*/

/* https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */

.css_checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.css_checkbox input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.css_checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.css_checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.css_checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.css_checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*-------------------------------------------------------------------------------------------------------*/

/* The colaps_file menu */
.colaps_file {
  font-family: Consolas; 
  height: 0px; /* Specify a height, change this with Javascript */
  width: 270px; /* Specify a width */
  position: fixed; /* Stay in place */
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
  transition: 0.3s; /* 0.3 second transition effect to slide in the colaps_file */
  background-color: AliceBlue;

}

.colaps_file a {
  text-decoration: none;
  font-size: 25px;
  font-family: Consolas; 
  color: black;
  transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.colaps_file .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background-color: AliceBlue;
}

/*-------------------------------------------------------------------------------------------------------*/

/* The colaps_help menu */
.colaps_help {
  font-family: Consolas; 
  height: 0px; /* Specify a height */
  width: 280px; 
  position: fixed; /* Stay in place */
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
  transition: 0.3s; /* 0.3 second transition effect to slide in the colaps_help */
  background-color: AliceBlue;
  margin-left: 70px;
}

.colaps_help a {
  text-decoration: none;
  font-size: 25px;
  font-family: Consolas; 
  color: black;
  transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.colaps_help .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background-color: AliceBlue;
}

/*-------------------------------------------------------------------------------------------------------*/

/* The colaps_settings menu */
.colaps_settings {
  font-family: Consolas; 
  font-size: 13px;
  height: 0px; /* Specify a height */
  width: 300px; 
  position: fixed; /* Stay in place */
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
  transition: 0.3s; /* 0.3 second transition effect to slide in the colaps_settings */
  background-color: AliceBlue;
  margin-left: 147px;
}

.colaps_settings a {
  text-decoration: none;
  font-size: 20px;
  font-family: Consolas; 
  color: black;
  transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.colaps_settings .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background-color: AliceBlue;
}

/*-------------------------------------------------------------------------------------------------------*/

/* The colaps_tools menu */
.colaps_tools {
  font-family: Consolas; 
  font-size: 13px;
  height: 0px; /* Specify a height */
  width: 280px; 
  position: fixed; /* Stay in place */
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
  transition: 0.3s; /* 0.3 second transition effect to slide in the colaps_tools */
  background-color: AliceBlue;
  margin-left: 255px;
}

.colaps_tools a {
  text-decoration: none;
  font-size: 20px;
  font-family: Consolas; 
  color: black;
  transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.colaps_tools .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background-color: AliceBlue;
}

/*-------------------------------------------------------------------------------------------------------*/

/* The colaps_other menu */
.colaps_other {
  font-family: Consolas; 
  height: 0px; /* Specify a height */
  width: 280px; 
  position: fixed; /* Stay in place */
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
  transition: 0.3s; /* 0.3 second transition effect to slide in the colaps_other */
  background-color: AliceBlue;
  margin-left: 340px;
}

.colaps_other a {
  text-decoration: none;
  font-size: 25px;
  font-family: Consolas; 
  color: black;
  transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.colaps_other .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background-color: AliceBlue;
}

/*-------------------------------------------------------------------------------------------------------*/

#curpos_display {
  position: absolute;
  z-index: 9;
  background-color: #fffff0;
  border: 1px solid #d3d3d3;
  text-align: left;
  display: none;
}

#curpos_displayheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: AliceBlue;
  color: black;
}

#public_display {
  position: absolute;
  z-index: 9;
  background-color: #fffff0;
  border: 1px solid #d3d3d3;
  text-align: left;
  display: none;
}

#public_displayheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: AliceBlue;
  color: black;
}

#tdp_dials {
  position: absolute;
  z-index: 9;
  background-color: #fffff0;
  border: 1px solid #d3d3d3;
  text-align: left;
  display: none;
}

#tdp_dialsheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: AliceBlue;
  color: black;
  text-align: center;
}

#anim_control {
  position: absolute;
  z-index: 9;
  background-color: #fffff0;
  border: 1px solid #d3d3d3;
  text-align: left;
  display: none;
  width: 700px;
  height: 500px;
}

#anim_controlheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: AliceBlue;
  color: black;
  text-align: center;
}

/*-------------------------------------------------------------------------------------------------------*/

.anim_setting_input {  /* textbox and output <span> in timeline setting section*/
  font: bold 16px Arial;
  width:40px;
}

.anim_setting_dropdown {  /* dropdown menu in timeline setting section*/
  font: bold 16px Arial;
  width:45px;
}

.anim_cmd_dropdown {     /*currently unused*/
  font: bold 16px Arial;
  width:55px;
}

.anim_command {    /* textarea in indiv-command section*/
  font: 15px Consolas; 
  resize: vertical;
}

.note_labels {     /* note_labels in entire animation section*/
  font: 15px Consolas;
  width: 90px;
}

.cmd_checkbox {    /* checkboxes in indiv-command section*/
  height: 28px;
  width: 28px;
}

.blank_cmd_input {  /* autocomplete blank command inserter*/
  font: 16px Consolas;
  width:320px; 
}